# Local .terraform directories
**/.terraform/*
.terraform.lock.hcl

# .tfstate files (Contains Secrets!)
*.tfstate
*.tfstate.*

# Crash log files
crash.log
*.log

# Exclude sensitive variables
*.tfvars

# PowerShell transcripts
*.txt